 /* Code từ đây */


.body{
    background-color: #F4F7F8; 
    color: #000;
    letter-spacing: 0.05rem;
}

#header{
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
[hidden] {
    display: none;
  }

.icon{
    padding-top: 1.25rem/* 20px */;
    padding-bottom: 1.25rem/* 20px */;
    color: pink;
    font-size: 1.875rem/* 30px */;
    line-height: 2.25rem/* 36px */;
    font-weight: 700;
    padding-left: 1.25rem/* 20px */;
}
.icon a{
    text-decoration: none;
}

.header-navbar-item{
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 16;
}
header-navbar-item:hover{
    
}
.header-navbar-item--strong{
    font-weight: 700;
}
#nav{
    display: inline-block;
}

#btn{
    display: flex;
    line-height: 76px;
    align-items: center;
    border-radius: 50%;
    margin: 0 25px;
    background-color: rgb(164 39 223 / var(--tw-bg-opacity));
    cursor: pointer;
}

#nav li:hover .subnav{
    display: block;
}

#nav .subnav {
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: aqua;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
#nav > li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li > a{
    color: black;
    text-transform: uppercase;
}
#nav li a{
    text-decoration: none;
    line-height: 76px;
    padding: 0 25px;
    display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
    color: aquamarine !important;
    background-color: antiquewhite !important;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
    transition-duration: 200ms;   
}
#nav .subnav a{
    color: black;
    padding: 0 32px;
    line-height: 52px;
    font-size: 16;
    text-transform: uppercase;
}

#nav .nav-arrow-down{
    font-size: 10px;
}

#header .search-btn{
    float: right;
    padding: 0 36px;

}
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;
}
#header .search-icon{
    color: #fff;
    font-size: 30px;
    line-height: 76px;
}

#slider{
    margin-top: 76px;
}


/*Authen*/
.auth-form{
    width: 650px;
    max-width: calc(100%-32px);
    min-height: 200px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}
.auth-form_container{
    padding: 0 32px;
}

.auth-form_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}

.auth-form_heading{
    margin-top: 14px;
    margin-bottom: 8px;
    font-size: 2.2rem;
    font-weight: 400;
}

.auth-form_switch-btn{
    font-size: 1.6rem;
    font-weight: 400;
    color: blue;
    cursor: pointer;
}

.auth-form_form{
    
}

.auth-form_input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.3rem;
    border: 1px solid var(--border-color);
    border-radius: 3px;
}

.auth-form_input:focus{
    border-color: #777;
}

.auth-form_aside{
    margin-top: 20px;
}

.auth-form_policy{
    font-size: 1rem;
    line-height: 1.3rem;
    text-align: center;
    padding: 0 32px;
}

.auth-form_text-link{
    text-decoration: none;
    color: red;
}

.auth-form_controls{
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
}
.auth-form_controls-back{
    margin-right: 10px;
}
.auth-form_socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 28px;
}
.auth-form_socials-icon{
    font-size: 1.4rem;
}

.auth-form_socials--facebook{
    color: #fff;
    background-color: #3A5A98;
}

.auth-form_socials--facebook
.auth-form_socials-icon{
    color: #F4F7F8;
}

.auth-form_socials-title{
    margin: 0 30px;
}

.auth-form_socials--google{
    background-color: #fff;
}

.auth-form_help{
    display: flex;
    justify-content: flex-end;
}

.auth-form_help-link{
    text-decoration: none;
    font-size: 1.2rem;
    color: #939393;
}

.auth-form_help-separate{
    display: block;
    border-left: 1px solid var(--border-color);
    height: 24px;
    margin: 4px 12px 0;
}

.auth-form_help-forgot{
    color: red;
}