<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <!--<link rel="stylesheet" href="/Home/main.css">-->
    <link rel="stylesheet" href="/Home/base.css">
    <link rel="stylesheet" href="/Home/header.css">
    <link rel="stylesheet" href="/Home/assets/font-icon/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/Recharge/Recharge.css">
    <title>Nạp Tiền</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> 
</head>
<body class="body">
  
    <header>
        <!-- navbar -->
        <div id="navbar">
            <nav class="nav">
                <div class="logo">
                    <a href="/" class="home">Hilay</a>
                </div>
                <div class="menu">
                    <div class="menu-button">☰ Menu </div>
                    <ul class="menu-list">
                        <li onclick="redirectToHome('LMHT')">LIÊN MINH HUYỀN THOẠI</li>
                        <li onclick="redirectToHome('CSGO')">CSGO</li>
                        <li onclick="redirectToHome('NARAKA')">NARAKA</li>
                        <li onclick="redirectToHome('PUBG')">PUBG</li>
                        <li onclick="redirectToHome('LQM')">LIÊN QUÂN MOBILE</li>
                    </ul>
                </div>
                <div class="nav-content">
                    <a href="/" class="home-main">Trang chủ</a>
                </div>
                <div class="star" id="star_list">
                    <div class="star-button">☆ Ngôi sao</div>
                </div>
                <!-- <div class="nav-content" id="chat-button">Liên hệ</div> -->
            </nav>
           

            <!-- thanh tìm kiếm -->
            <div>
                <div class="header-bottom">
                    <div class="recharge-button" id="recharge-button">
                        <button id="recharge_but" onclick="redirectToRecharge()"> + </button>
                        <a id="money"></a>
                        <a >  💰 </a>
                    </div>
                    <button class="chat-btn" id="chat" onclick="openChat()">Chat 💬</button>
                    <form class="search-container">
                        <input class="search-bar" type="text" placeholder="Search">
                        <button class="search-button">🔍</button>
                    </form>
                    <button class="cart-button" id="login_button" onclick="redirectToHome('login')">
                        Đăng nhập👌🏻
                    </button>

                    <!-- after signing in -->
                    <div class="header-tools" id="tools-button">
                        <div class="user-info" >
                                <img id="avatar1" src="https://i.postimg.cc/sfQbt6Jj/c6e56503cfdd87da299f72dc416023d4.jpg" alt="Avatar">
                                <div class="user-info-popup" >
                                    <!-- Thông tin số người theo dõi và số xu sẽ được hiển thị ở đây -->
                                    <img id="avatar2" src="https://i.postimg.cc/sfQbt6Jj/c6e56503cfdd87da299f72dc416023d4.jpg" alt="Avatar">
                                    <div>
                                        <h2 id="user-info-name"></h2>
                                        <p class="user-id" id="user-info-id"></p>
                                    </div>
                                    <div class="user-stats">
                                        <p id="joining-date"></p>
                                    </div>
                                    <div class="user-actions">
                                        <button onclick="adjustUserInfo()">🛠️ Điều Chỉnh Thông Tin</button>
                                        <button onclick="lognout()">🚪 Đăng Xuất</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

<div class="main-content">

  <div id="idInput">
    <label for="playerId">1. Nhập ID người dùng</label>
    <input type="text" id="playerId" name="playerId" required>
    <button onclick="checkPlayerId()">Kiểm Tra ID</button>
    <p id="Message" class="error-message "></p>
  </div>

  <div id="methodSelection" class="payment-method">
    <label for="paymentMethod">2. Chọn Phương Thức Nạp:</label>
    <select id="paymentMethod" onchange="showPaymentOptions()">
      <option value="none">-- Chọn phương thức --</option>
      <option value="card">Nạp Thẻ</option>
      <option value="atm">Nạp ATM</option> 
    </select>
  </div>

  <div id="cardAmounts" class="payment-method">
    <label for="cardAmount">3. Chọn Mệnh Giá Thẻ:</label>
    <select id="cardAmount">
      <option value="50">50,000 VND</option>
      <option value="100">100,000 VND</option>
      <option value="200">200,000 VND</option>
    </select>
    <label for="cardSerial">Nhập Số Seri Thẻ:</label>
    <input type="text" id="cardSerial" name="cardSerial" required>
    <button onclick="Check_seri()">Thanh toán</button>
    <p id="Message_card" class="error-message"></p>
  </div>

  <div id="atmOptions" class="payment-method">
    <label for="bank">3. Chọn Ngân Hàng:</label>
    <select id="bank">
      <option value="vietcombank">Vietcombank</option>
      <option value="vietinbank">Vietinbank</option>
      <option value="acb">ACB</option>
    </select>
    <br>
    <label for="atmAmount">Chọn Mệnh Giá:</label>
    <select id="atmAmount">
      <option value="50">50,000 VND</option>
      <option value="100">100,000 VND</option>
      <option value="200">200,000 VND</option>
    </select>
    <br>
    <button onclick="generateQRCode()">Thanh Toán</button>
  </div>

  <div id="qrCode" class="payment-method">
    <img id="qrCodeImage" src="Home/assets/imgs/chat-icon.png" alt="QR Code">
    <p id="successMessage" class="success-message"></p>
  </div>
</div>

  <footer>
    <div class="footer-content">
        <div class="footer-section">
            <h2>Contact Us</h2>
            <p>Email: hoangphuc@gmail.com</p>
            <p>Phone: +84223453232</p>
        </div>
        <div class="footer-section">
            <h2>Follow Us</h2>
            <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Facebook</a></p>
            <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Twitter</a></p>
            <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Instagram</a></p>
        </div>
        <div class="footer-section">
            <h2>Quick Links</h2>
            <p><a href="#">Privacy Policy</a></p>
            <p><a href="#">Terms of Service</a></p>
        </div>
    </div>
    <div class="footer-bottom">
        <p>&copy; 2023 HILAY. All Rights Reserved.</p>
    </div>
  </footer>

  <script src="/Recharge/Recharge.js"></script>
</body>
</html>