/* main */
#main {
    margin-top: 0;
    background: rgb(200, 200, 200);
    height: fit-content;
    width: 100rem;
}

.main-container {
    display: flex;
    height: fit-content; 
    width: 100%;
}

#main > .main-container .section-content {
    font-weight: 700;
    font-size: 1.75rem; 
}

#main > .main-container > .section {
    padding: 3rem 4rem;
    width: 82%;
}

/* Thanh thông tin */
.personal-nav {
    display: flex;
    flex-direction: column;
    background: white;
    width: 18%;
    height:auto;
}

.personal-nav > .personal-center {
    margin: 2rem 0 1.5rem 0rem;
    font-weight: 700;
    font-size: 1.5rem;
    align-self: center;
}

.personal-nav > .personal-list > .list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.personal-nav > .personal-list > .list > li{
    margin: 1rem 0;
    padding: 1rem 1.5rem;
}

.personal-nav > .personal-list > .list > li > [class^="ti-"] {
    font-size: 1.5rem;
}

.personal-nav > .personal-list > .list > li > i {
    margin-right: 1rem;
}
 
.personal-nav > .personal-list > .list > li:hover:not(.selected-li){
    background: rgb(200, 200, 200);
}

.personal-nav > .personal-list > .list > .selected-li{
    background:#308296;
    color:white;
}

/* Phần chỉnh sửa thông tin */
.edit-profile { 
    display: flex;
    flex-direction: column;
}   
  
.edit-profile > .edit {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 20px;
}

.edit-profile > .edit > .avatar {
    display: flex;
    flex-direction: column;
    background: white;
    width: 20%;
    align-items: center;
    border-radius: 1rem;
}
  
.edit-profile > .edit > .avatar > .avatar-content {
    font-size: 1.5rem;
    margin-top: 1rem;
}
  
.edit-profile > .edit > .avatar > .avatar-images {
    position: relative;
    width: 75%;
    height: 30%;
    border: 5px solid rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 0 0;
}
  
/* Plus icon của avatar */
.edit-profile > .edit > .avatar > .avatar-images > .icon {
    position: absolute;
}

.edit-profile > .edit > .avatar > .input-link-img {
    margin-top: 20px;
}

.avatar-images > [class="ti-plus"] {
    font-size: 2rem;
    color: rgb(200, 200, 200)
}


.edit-profile > .edit > .avatar > .avatar-images > input {
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
  

/* Code của phần chỉnh sửa thông tin */
.edit-profile > .edit > .editor {
    width: 60%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem 2rem 2rem 2rem;
}

.edit > .editor > .editor-content{
    font-size: 1.5rem;
    color: black;
    
}

.editor > .input-attribute {
    margin: 0.15rem 0;
    margin-left: 20px;
}

.editor > .input-attribute > .input-content {
    margin: 0.2rem 0;
}

.editor > .input-attribute > #adjust_gender{
    border: 0.2rem solid rgb(200, 200, 200);
    border-radius: 0.5rem;
    padding: 0.1rem;
    width: 30%;
    background: transparent;
}

.editor > .input-attribute > input {
    border: 0.2rem solid rgb(200, 200, 200);
    border-radius: 0.5rem;
    padding: 0.1rem;
    width: 70%;
    background: transparent;
}

.editor > .submit-change {
    width: 30%;
    /* height: 10%; */
    background: black; 
    color: white;
    /* border: 0.2rem solid black; */
    border-radius: 0.5rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-left: 300px;
}

.editor > .submit-change:hover{
    background:transparent;
    color: rgb(107, 100, 100);
    border: 0.2rem solid rgb(200, 200, 200);
}

/* Phần đơn hàng */
.order-history {
    display:flex;
    flex-direction: column;
}

.order-history > .order-selection {
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 3.2rem;
    margin-top: 1rem;
    border-bottom: 0.2rem solid black;
}

.order-history > .order-selection .order-kind-content{
    font-size: 1.5rem;
    font-weight: 600;
}

.order-history > .order-selection > .order-kind:hover{
    cursor: pointer;
}

.order-history > .order-selection > .sent-order{
    margin-left: 5rem;
}

.order-history > .order-selection .selected-order-kind-content{
    color: #308296;
}

.order-history > .order-selection .selected-order-kind{
    width: 100%;
    height: 0.5rem;
    background-color: #308296;
    margin-top: 0.5rem;
}

