/* main */
#main {
    margin-top: 0;
    background: rgb(200, 200, 200);
    height: auto;
}

.main-container {
    display: flex;
    height: 100%; 
    width: 100%;
}
/* Thanh thông tin */
.personal-nav {
    display: flex;
    flex-direction: column;
    background: white;
    width: 18rem;
    height: auto;
}

.personal-nav > .personal-center {
    margin: 2rem 0 1.5rem 0rem;
    font-weight: 700;
    font-size: 1.5rem;
    align-self: center;
}

.personal-nav > .personal-list > .list{
    list-style: none;
    padding: 0;
    margin: 0;
}

.personal-nav > .personal-list > .list > li{
    margin: 1rem 0;
    padding: 1rem 1.5rem;
}

.personal-nav > .personal-list > .list > li > [class^="ti-"] {
    font-size: 1.5rem;
}

.personal-nav > .personal-list > .list > li > i {
    margin-right: 1rem;
}
 
.personal-nav > .personal-list > .list > li:hover{
    background:#308296;
    color:white;
}

.personal-nav > .personal-list > .list > li::selection{
    background:#308296;
    color:white;
}

/* Phần chỉnh sửa thông tin */
.edit-profile { 
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
}   
  
.edit-profile > .edit-content {
    font-weight: 700;
    font-size: 1.75rem;  
}
  
.edit-profile > .edit {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
    height: 50rem;
}
  
.edit-profile > .edit > .avatar {
    display: flex;
    flex-direction: column;
    background: white;
    width: 18rem;
    align-items: center;
    border-radius: 1rem;
}
  
.edit-profile > .edit > .avatar > .avatar-content {
    font-size: 1.5rem;
    margin-top: 1rem;
}
  
.edit-profile > .edit > .avatar > .avatar-images {
    position: relative;
    width: 75%;
    height: 30%;
    border: 5px solid rgb(200, 200, 200);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem 0 0 0;
}
  
/* Plus icon của avatar */
.edit-profile > .edit > .avatar > .avatar-images > .icon {
    position: absolute;
}

.avatar-images > [class="ti-plus"] {
    font-size: 2rem;
    color: rgb(200, 200, 200)
}


.edit-profile > .edit > .avatar > .avatar-images > .img {
    overflow: hidden;
    cursor: pointer;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}
  

/* Code của phần chỉnh sửa thông tin */
.edit-profile > .edit > .editor {
    width: 50rem;
    /* height: 90%; */

    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.edit > .editor > .editor-content{
    font-size: 1.5rem;
    color: black;
    
}

.editor > .input-attribute {
    margin: 0.15rem 0;
}

.editor > .input-attribute > .input-content {
    margin: 0.2rem 0;
}

.editor > .input-attribute > input {
    border: 0.2rem solid rgb(200, 200, 200);
    border-radius: 0.5rem;
    padding: 0.1rem;
    width: 50%;
    background: transparent;
}

.editor > .submit-change {
    width: 10rem;
    height: 2rem;
    background: black; 
    color: white;
    /* border: 0.2rem solid black; */
    border-radius: 0.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

.editor > .submit-change:hover{
    
    background:transparent;
    color: rgb(107, 100, 100);
    border: 0.2rem solid rgb(200, 200, 200);
}