<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="../Home/Code/main.css">
    <link rel="stylesheet" href="../Home/Code/base.css">
    <link rel="stylesheet" href="change_info.css">
    <link rel="stylesheet" href="../Home/Code/assets/font-icon/themify-icons/themify-icons.css">
    <title>Welcome to Hiney!!</title>
</head>
<body class="body">
    <header>
        <!-- navbar -->
        <div id="navbar">
            <nav class="nav">
                <div class="logo">
                    <a href="/" class="home">Hiney</a>
                </div>
                <div class="menu">
                    <div class="menu-button">☰ Menu </div>
                    <ul class="menu-list">
                        <li>LEAGUE OF LEGENDS</li>
                        <li>CSGO</li>
                        <li>NARAKA</li>
                        <li>PUBG</li>
                        <li>LIÊN QUÂN MOBILE</li>
                    </ul>
                </div>
                <!-- <div class="nav-content">
                    <a href="/" class="home">Trang chủ</a>
                </div> -->
                <div class="star">
                    <div class="star-button"> ☰ Ngôi sao ⭐ </div>
                    <ul class="star-list">
                        <li>Tiến Trung</li>
                        <li>Thanh Tùng(BTQ)</li>
                        <li>Nhật Lâm</li>
                        <li>Khả Trình (Bé mèo)</li>
                        <li>Hoàng Phúc</li>
                        <li>Hoàng Văn</li>
                    </ul>
                </div>
                <!-- <div class="nav-content" id="chat-button">Liên hệ</div> -->
            </nav>
           

            <!-- thanh tìm kiếm -->
            <div>
                <div class="header-bottom">
                    
                    <form class="search-container">
                        <input class="search-bar" type="text" placeholder="Search" />
                        <button class="search-button">🔍</button>
                    </form>
                    <button class="cart-button" onclick="redirectToLogin()">
                        Login 👌🏻
                    </button>
                </div>
            </div>
        </div>
    </header>
    <main id="main" >
        <div class="main-container">
            <div class="personal-nav">
                <div class="personal-center">Trung tâm cá nhân
                </div>
                <div class="personal-list">
                    <ul class="list">
                        <li class="info">
                            <i class="ti-user"></i>    
                            Thông tin cá nhân
                        </li>
                        <li class="wallet">
                            <i class="ti-wallet"></i>
                            Ví
                        </li>
                        <li class="order">
                            <i class="ti-clipboard"></i>
                            Đơn hàng
                        </li>
                        <li class="change-pass">
                            <i class="ti-lock"></i>
                            Đổi mật khẩu
                        </li>
                        <li class="logout">
                            <i class="ti-shift-left"></i>
                            Đăng xuất
                        </li>
                    </ul>
                </div>
            </div>
            <div class="edit-profile">
                <div class="edit-content">Sửa hồ sơ</div>
                <div class="edit">
                    <div class="avatar">
                        <p class="avatar-content">Ảnh đại diện</p>
                        <div class="avatar-images">
                            <i class="ti-plus" class="icon"></i>
                            <input type="file" class="img"></input>
                        </div>
                        <div class="avatar-images">
                            <i class="ti-plus" class="icon"></i>
                            <input type="file" class="img"></input>
                        </div>
                    </div>
                    <div class="editor">
                        <p class="editor-content">Hồ sơ</p>
                        <div class="input-attribute" class="name">
                            <p class="input-content">Tên</p>
                            <input class="input-list" type="text" placeholder="Nhập tên"></input>
                        </div>
                        <div class="input-attribute" class="gender">
                            <p class="input-content">Giới tính</p>
                            <input class="input-list" type="text" placeholder="Nam / Nữ / Khác"></input>
                        </div>
                        <div class="input-attribute" class="birthday">
                            <p class="input-content">Sinh nhật</p>
                            <input class="input-list" type="date" placeholder="Nhập ngày sinh"></input>
                        </div>
                        <div class="input-attribute" class="address">
                            <p class="input-content">Địa chỉ</p>
                            <input class="input-list" type="text" placeholder="Nhập địa chỉ"></input>
                        </div>
                        <div class="input-attribute" class="phone-number">
                            <p class="input-content">Số điện thoại</p>
                            <input class="input-list" type="number" placeholder="Nhập số điện thoại"></input>
                        </div>
                        <div class="input-attribute" class="email">
                            <p class="input-content">Email</p>
                            <input class="input-list" type="text" placeholder="Nhập Email"></input>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wallet-info"></div>
            <div class="order-history"></div>
            <div class="change-password"></div>
        </div>
        <button onclick="scrollToTop()" class="scroll-to-top-btn"><i class="ti-arrow-circle-up"></i></button>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h2>Contact Us</h2>
                <p>Email: hoangphuc@gmail.com</p>
                <p>Phone: +84223453232</p>
            </div>
            <div class="footer-section">
                <h2>Follow Us</h2>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Facebook</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Twitter</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Instagram</a></p>
            </div>
            <div class="footer-section">
                <h2>Quick Links</h2>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Terms of Service</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 HINEY. All Rights Reserved.</p>
        </div>
    </footer>
    <script>
        let infoSelected = document.querySelector('.info');
        let walletSelected = document.querySelector('.wallet');
        let orderSelected = document.querySelector('.order');
        let changePasswordSelected = document.querySelector('.change-pass');
        let logoutSelected = document.querySelector('.logout');

        let editProfile = document.querySelector('.edit-profile');
        let walletInfo = document.querySelector('.wallet-info');
        let orderHistory = document.querySelector('.order-history');
        let changePassword = document.querySelector('.change-password');

        infoSelected.addEventListener('click', function () {
            editProfile.style.display = 'block';
            walletInfo.style.display = 'none';
            orderHistory.style.display = 'none';
            changePassword.style.display = 'none';
        });
        walletSelected.addEventListener('click', function () {
            editProfile.style.display = 'none';
            walletInfo.style.display = 'block';
            orderHistory.style.display = 'none';
            changePassword.style.display = 'none';
        });
        orderSelected.addEventListener('click', function () {
            editProfile.style.display = 'none';
            walletInfo.style.display = 'none';
            orderHistory.style.display = 'block';
            changePassword.style.display = 'none';
        });
        changePasswordSelected.addEventListener('click', function () {
            editProfile.style.display = 'none';
            walletInfo.style.display = 'none';
            orderHistory.style.display = 'none';
            changePassword.style.display = 'block';
        });
        logoutSelected.addEventListener('click', function () {
            editProfile.style.display = 'none';
            walletInfo.style.display = 'none';
            orderHistory.style.display = 'none';
            changePassword.style.display = 'none';
        });
    </script>
</body>
</html>