<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="Change_info/change_info.css">
    <link rel="stylesheet" href="/Change_info/base.css">
    <link rel="stylesheet" href="/Change_info/MainTTND.css">
    <link rel="stylesheet" href="/Home/header.css">
    <link rel="stylesheet" href="/Home/base.css">
    <link rel="stylesheet" href="/Home/assets/font-icon/themify-icons/themify-icons.css">
    <title>Welcome to Hilay!!</title>
</head>
<body class="body">
    <header>
        <!-- navbar -->
        <div id="navbar">
            <nav class="nav">
                <div class="logo">
                    <a href="/" class="home">Hilay</a>
                </div>
                <div class="menu">
                    <div class="menu-button">☰ Menu </div>
                    <ul class="menu-list">
                        <li onclick="scrollToDiv('LMHT')">LIÊN MINH HUYỀN THOẠI</li>
                        <li onclick="scrollToDiv('CSGO')">CSGO</li>
                        <li onclick="scrollToDiv('NARAKA')">NARAKA</li>
                        <li onclick="scrollToDiv('PUBG')">PUBG</li>
                        <li onclick="scrollToDiv('LQM')">LIÊN QUÂN MOBILE</li>
                    </ul>
                </div>
                <div class="nav-content">
                    <a href="/" class="home-main">Trang chủ</a>
                </div>
                <div class="star">
                    <div class="star-button"> ☰ Ngôi sao ⭐ </div>
                    <ul class="star-list">
                        <li>Tiến Trung</li>
                        <li>Thanh Tùng(BTQ)</li>
                        <li>Nhật Lâm</li>
                        <li>Khả Trình (Bé mèo)</li>
                        <li>Hoàng Phúc</li>
                        <li>Hoàng Văn</li>
                    </ul>
                </div>
                <!-- <div class="nav-content" id="chat-button">Liên hệ</div> -->
            </nav>
           
            <!-- thanh tìm kiếm -->
            <div>
                <div class="header-bottom">
                    <div class="recharge-button" id="recharge-button">
                        <button id="recharge_but" onclick="redirectToRecharge()"> + </button>
                        <a id="money"></a>
                        <a > 🪙  </a>
                    </div>
                    <button class="chat-btn" id="chat" onclick="openChat()">Chat 💬</button>
                    <form class="search-container">
                        <input class="search-bar" type="text" placeholder="Search" />
                        <button class="search-button">🔍</button>
                    </form>
                    <button class="cart-button" id="login-button" onclick="redirectToLogin()">
                        Login 👌🏻
                    </button>

                    <!-- after signing in -->
                    <div class="header-tools" id="tools-button">
                        <div class="user-info" >
                                <img id="avatar1" src="https://i.postimg.cc/sfQbt6Jj/c6e56503cfdd87da299f72dc416023d4.jpg" alt="Avatar">
                                <div class="user-info-popup" >
                                    <!-- Thông tin số người theo dõi và số xu sẽ được hiển thị ở đây -->
                                    <img id="avatar2" src="https://i.postimg.cc/sfQbt6Jj/c6e56503cfdd87da299f72dc416023d4.jpg" alt="Avatar">
                                    <div>
                                        <h2 id="user-info-name"></h2>
                                        <p class="user-id" id="user-info-id"></p>
                                    </div>
                                    <div class="user-stats">
                                        <p id="joining-date"></p>
                                    </div>
                                    <div class="user-actions">
                                        <button onclick="adjustUserInfo()">🛠️ Điều Chỉnh Thông Tin</button>
                                        <button onclick="lognout()">🚪 Đăng Xuất</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main" >
        <div class="main-container">
            <div class="personal-nav">
                <div class="personal-center">Trung tâm cá nhân
                </div>
                <div class="personal-list">
                    <ul class="list">
                        <li class="info" class="selected-li">
                            <i class="ti-user"></i>
                            Thông tin cá nhân
                        </li>
                        <li class="wallet">
                            <i class="ti-wallet"></i>
                            Ví
                        </li>
                        <li class="order">
                            <i class="ti-notepad"></i>
                            Đơn hàng
                        </li>
                        <li class="change-pass">
                            <i class="ti-lock"></i>
                            Đổi mật khẩu
                        </li>
                        <li class="logout" onclick="lognout()">
                            <i class="ti-export"></i>
                            Đăng xuất
                        </li>
                    </ul>
                </div>
            </div>
            <div class="edit-profile section">
                <div class="edit-content section-content" >Sửa hồ sơ</div>
                <div class="edit section">
                    <div class="avatar">
                        <p class="avatar-content">Ảnh</p>
                        <div class="avatar-images">
                            <i class="ti-plus" class="icon"></i>
                            <input type="file" class="img"></input>
                        </div>
                        <p class="input-link-img">Nhập link ảnh</p>
                        <input id="link_img" type="text"></input>
                    </div>
                    <div class="editor">
                        <div class="editor-content">Hồ sơ</div>
                        <div class="input-attribute">
                            <div class="input-content">Họ tên</div>
                            <input class="input-list" id="adjust_name" type="text">
                        </div>
                        <div class="input-attribute">
                            <div >Giới tính</div>
                            <select class="input-list" id="adjust_gender" type="text">
                                <option value="Male">Nam</option>
                                <option value="Female">Nữ</option>
                                <option value="Other">Khác</option>
                            </select>
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Ngày sinh</div>
                            <input class="input-list" id="adjust_birthday" type="date">
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Số điện thoại</div>
                            <input class="input-list" id="adjust_phone" type="tel" pattern="[0-9]{10}" required>
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Địa chỉ</div>
                            <input class="input-list" id="adjust_address" type="text">
                        </div>
                        <button class="submit-change" onclick="change_infor()">Thay đổi</button>
                    </div>
                </div>
            </div>
            <div class="wallet-info section"></div>
            <div class="order-history section">
                <div class="section-content">Đơn hàng</div>
                <div class="order-selection">
                    <div class="receive-order order-kind">
                        <div class="order-kind-content receive-content">Đơn đã nhận</div>
                        <div class="selected-order-kind receive-order-selected"></div>
                    </div>
                    <div class="sent-order order-kind">
                        <div class="order-kind-content sent-content">Đơn của tôi</div>
                        <div class="selected-order-kind sent-order-selected"></div>
                    </div>
                </div>
            </div>
            <div class="change-password section">
                <div class="section-content">Đổi mật khẩu</div>
            </div>
        </div>
        <!-- <button onclick="scrollToTop()" class="scroll-to-top-btn"><i class="ti-arrow-circle-up"></i></button> -->
    </main>
    <!-- <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h2>Contact Us</h2>
                <p>Email: hoangphuc@gmail.com</p>
                <p>Phone: +84223453232</p>
            </div>
            <div class="footer-section">
                <h2>Follow Us</h2>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Facebook</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Twitter</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Instagram</a></p>
            </div>
            <div class="footer-section">
                <h2>Quick Links</h2>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Terms of Service</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 HINEY. All Rights Reserved.</p>
        </div>
    </footer> -->
    <script src="/Change_info/Infor.js"></script>
</body>
</html>