<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="Change_info/change_info.css">
    <link rel="stylesheet" href="Change_info/base.css">
    <link rel="stylesheet" href="Change_info/MainTTND.css">
    <link rel="stylesheet" href="Home/assets/font-icon/themify-icons/themify-icons.css">
    <title>Welcome to Hiney!!</title>
</head>
<body class="body">
    <header>
        <!-- navbar -->
        <div id="navbar">
            <div class="logo">
                <a href="/" class="home">Hiney</a>
            </div>
            <nav class="nav">
                <div class="menu">
                    <div class="menu-button">☰ Menu </div>
                    <ul class="menu-list">
                        <li>LEAGUE OF LEGENDS</li>
                        <li>CSGO</li>
                        <li>NARAKA</li>
                        <li>PUBG</li>
                        <li>LIÊN QUÂN MOBILE</li>
                    </ul>
                </div>
                <!-- <div class="nav-content">
                    <a href="/" class="home">Trang chủ</a>
                </div> -->
                <div class="star">
                    <div class="star-button"> Ngôi sao </div>
                    <ul class="star-list">
                        <li>Tiến Trung</li>
                        <li>Thanh Tùng(BTQ)</li>
                        <li>Nhật Lâm</li>
                        <li>Khả Trình (Bé mèo)</li>
                        <li>Hoàng Phúc</li>
                        <li>Hoàng Văn</li>
                    </ul>
                </div>
                <!-- <div class="nav-content" id="chat-button">Liên hệ</div> -->
            </nav>

            <!-- chat button ở đây -->
            <div id="chat-container">
                <div id="chat-header">
                    <img src="https://cdn1.iconfinder.com/data/icons/heroicons-ui/24/chat-1024.png" id="chat-logo">
                    <h1 id="chat-heading">MESSAGE</h1>
                    <button id="close-button"></button>
                </div>
                <div id="chat-messages"></div>
                    <!--Tin nhắn được thêm ở đây-->
                <div id="user-input-container"> 
                    <div id="user-input">
                        <input type="text" id="user-message" placeholder="Nhập tin nhắn của bạn..." >
                        <button id="send-button">Gửi</button>
                
                    </div>
                </div>
            </div>

            <!-- thanh tìm kiếm -->
            <div>
                <div class="header-bottom">
                    
                    <form class="search-container">
                        <input class="search-bar" type="text" placeholder="Search" />
                        <button class="search-button">🔍</button>
                    </form>
                    <button class="cart-button" onclick="redirectToLogin()">
                        Login 👌🏻
                    </button>
                </div>
            </div>
        </div>
    </header>
    <main id="main" >
        <div class="main-container">
            <div class="personal-nav">
                <div class="personal-center">Trung tâm cá nhân
                </div>
                <div class="personal-list">
                    <ul class="list">
                        <li class="info" class="selected-li">
                            <i class="ti-user"></i>
                            Thông tin cá nhân
                        </li>
                        <li class="wallet">
                            <i class="ti-wallet"></i>
                            Dịch vụ
                        </li>
                        <li class="order">
                            <i class="ti-notepad"></i>
                            Đơn hàng
                        </li>
                        <li class="change-pass">
                            <i class="ti-lock"></i>
                            Đổi mật khẩu
                        </li>
                        <li class="logout">
                            <i class="ti-export"></i>
                            Đăng xuất
                        </li>
                    </ul>
                </div>
            </div>
            <div class="edit-profile section">
                <div class="edit-content section-content" >Sửa hồ sơ</div>
                <div class="edit section">
                    <div class="avatar">
                        <p class="avatar-content">Ảnh</p>
                        <div class="avatar-images">
                            <i class="ti-plus" class="icon"></i>
                            <input type="file" class="img"></input>
                        </div>
                        <div class="avatar-images">
                            <i class="ti-plus" class="icon"></i>
                            <input type="file" class="img"></input>
                        </div>
                    </div>
                    <div class="editor">
                        <div class="editor-content">Hồ sơ</div>
                        <div class="input-attribute">
                            <div class="input-content">Họ và tên</div>
                            <input class="input-list" type="text" placeholder="Nhập họ và tên">
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Giới tính</div>
                            <input class="input-list" type="text" placeholder="Nam / Nữ / Khác">
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Ngày sinh</div>
                            <input class="input-list" type="date" placeholder="Nhập ngày sinh">
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Số điện thoại</div>
                            <input class="input-list" type="tel" placeholder="Nhập số điện thoại" pattern="[0-9]{10}" required>
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Địa chỉ</div>
                            <input class="input-list" type="text" placeholder="Nhập địa chỉ">
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Email</div>
                            <input class="input-list" type="email" placeholder="Nhập email">
                        </div>
                        <input class="submit-change" type="submit" value="Lưu thay đổi">
                    </div>
                </div>
            </div>

            <!-- Dịch vụ -->

            <div class="wallet-info section">
                <!-- content -->
                <div class="section-content">Dịch vụ</div>

                <!-- hình ảnh tại đây -->
                <div class="service-selection">
                    <div class="game-imgs">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiVGGGWtc0sD9hPRAHvMvz4xyyhYTngteZpIstjpgYuT-O4Invkqskbc4uP7En7hjgq78&usqp=CAU" alt="Image 1" onclick="confirmChange(1)">
                    </div>
                    <div class="game-imgs">
                        <img src="https://data.lita.cool/mgr/skill/202310081617/vi_pubg-mobile_pc-image.jpeg?width=253&height=320" alt="Image 2" onclick="confirmChange(2)">
                    </div>
                    <div class="game-imgs">
                        <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/210056139_149291693980014_6757475175732955218_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=yujqmq6nBoQAX-jbzHp&_nc_ht=scontent.fsgn5-15.fna&oh=00_AfD-ZHvHprAnsmWgywWA76i51R8uPDcxw0OQHEdueGP_aA&oe=65665E38" alt="Image 3" onclick="confirmChange(3)">
                    </div>
                    <div class="game-imgs">
                        <img src="https://data.lita.cool/mgr/skill/202310081616/vi_garena-rov_pc-image.jpeg?width=253&height=320" alt="Image 4" onclick="confirmChange(4)">
                    </div>
                    <div class="game-imgs">
                        <img src="https://files.cults3d.com/uploaders/17644157/illustration-file/8e7db1d9-81a0-4b8d-adbc-b907805fae3b/IMG_20210726_064959.jpg" alt="Image 5" onclick="confirmChange(5)">
                    </div>
                </div>

                <!-- box xác nhận  -->
                <div class="service-confirm">
                    <div class="service-confirm-header">Dịch vụ đã đăng ký</div>
                        <div class="service-confirm-input">
                            <p class="text">Game đã chọn</p>
                            <button class="service-confirm-button">Xóa</button>
                        </div>
                </div>

            <!-- order tại đây -->
            </div>
            <div class="order-history section">
                <div class="section-content">Đơn hàng</div>
                <div class="order-selection">
                    <div class="receive-order order-kind">
                        <div class="order-kind-content receive-content">Đơn đã nhận</div>
                        <div class="selected-order-kind receive-order-selected"></div>
                    </div>
                    <div class="sent-order order-kind">
                        <div class="order-kind-content sent-content">Đơn của tôi</div>
                        <div class="selected-order-kind sent-order-selected"></div>
                    </div>
                </div>
            </div>
            <div class="change-password section">
                <div class="section-content">Đổi mật khẩu</div>
            </div>
        </div>
        <!-- <button onclick="scrollToTop()" class="scroll-to-top-btn"><i class="ti-arrow-circle-up"></i></button> -->
    </main>
    <!-- <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h2>Contact Us</h2>
                <p>Email: hoangphuc@gmail.com</p>
                <p>Phone: +84223453232</p>
            </div>
            <div class="footer-section">
                <h2>Follow Us</h2>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Facebook</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Twitter</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Instagram</a></p>
            </div>
            <div class="footer-section">
                <h2>Quick Links</h2>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Terms of Service</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 HINEY. All Rights Reserved.</p>
        </div>
    </footer> -->
    <script>
        const info = document.querySelector('.info');
        const wallet = document.querySelector('.wallet');
        const order = document.querySelector('.order');
        const changePass = document.querySelector('.change-pass');
        const logout = document.querySelector('.logout');

        const infoDisplay = 'flex';
        const walletDisplay = 'flex';
        const orderDisplay = 'flex';
        const changePassDisplay = 'flex';


        const editProfileSection = document.querySelector('.edit-profile');
        const walletInfoSection = document.querySelector('.wallet-info');
        const orderHistorySection = document.querySelector('.order-history');
        const changePasswordSection = document.querySelector('.change-password');

        info.classList.add('selected-li');
        
        walletInfoSection.style.display = 'none';
        orderHistorySection.style.display = 'none';
        changePasswordSection.style.display = 'none';


        info.addEventListener('click', function () {
            info.classList.add('selected-li');
            wallet.classList.remove('selected-li');
            order.classList.remove('selected-li');
            changePass.classList.remove('selected-li');
            editProfileSection.style.display = infoDisplay;
            walletInfoSection.style.display = 'none';
            orderHistorySection.style.display = 'none';
            changePasswordSection.style.display = 'none';
        });

        wallet.addEventListener('click', function () {
            info.classList.remove('selected-li');
            wallet.classList.add('selected-li');
            order.classList.remove('selected-li');
            changePass.classList.remove('selected-li');
            editProfileSection.style.display = 'none';
            walletInfoSection.style.display = walletDisplay;
            orderHistorySection.style.display = 'none';
            changePasswordSection.style.display = 'none';
        });
        
        order.addEventListener('click', function () {
            info.classList.remove('selected-li');
            wallet.classList.remove('selected-li');
            order.classList.add('selected-li');
            changePass.classList.remove('selected-li');
            document.querySelector('.receive-content').classList.add('selected-order-kind-content');
            document.querySelector('.sent-order-selected').style.display = 'none';
            editProfileSection.style.display = 'none';
            walletInfoSection.style.display = 'none';
            orderHistorySection.style.display = orderDisplay;
            changePasswordSection.style.display = 'none';
        });
        
        changePass.addEventListener('click', function () {
            info.classList.remove('selected-li');
            wallet.classList.remove('selected-li');
            order.classList.remove('selected-li');
            changePass.classList.add('selected-li');
            editProfileSection.style.display = 'none';
            walletInfoSection.style.display = 'none';
            orderHistorySection.style.display = 'none';
            changePasswordSection.style.display = changePassDisplay;
        });

        logout.addEventListener('click', function () {
        });

        document.querySelector('.receive-order').addEventListener('click', function() {
            document.querySelector('.sent-content').classList.remove('selected-order-kind-content');
            document.querySelector('.receive-content').classList.add('selected-order-kind-content');
            document.querySelector('.receive-order-selected').style.display = 'block';
            document.querySelector('.sent-order-selected').style.display = 'none';
        });

        document.querySelector('.sent-order').addEventListener('click', function() {
            document.querySelector('.receive-content').classList.remove('selected-order-kind-content');
            document.querySelector('.sent-content').classList.add('selected-order-kind-content');
            document.querySelector('.sent-order-selected').style.display = 'block';
            document.querySelector('.receive-order-selected').style.display = 'none';
        });
</script>


    <script>
        function confirmChange(imageNumber) {
        var result = confirm("Bạn có chắc chắn muốn thay đổi không?");
        if (result) {
            alert('Thay đổi thành công');
            // Add your desired functionality for "Yes" here
        } else {
            //
            // Add your desired functionality for "No" here
        }
        }
  </script>
</body>
</html>