<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="Change_info/change_info.css">
    <link rel="stylesheet" href="/Home/header.css">
    <link rel="stylesheet" href="/Home/base.css">
    <link rel="stylesheet" href="/Home/assets/font-icon/themify-icons/themify-icons.css">
    <title>Welcome to Hilay!!</title>
</head>
<body class="body">
    <header>
        <!-- navbar -->
        <div id="navbar">
            <nav class="nav">
                <div class="logo">
                    <a href="/" class="home">Hilay</a>
                </div>
                <div class="menu">
                    <div class="menu-button">☰ Menu</div>
                    <ul class="menu-list">
                        <li onclick="redirectToHome('LMHT')">LIÊN MINH HUYỀN THOẠI</li>
                        <li onclick="redirectToHome('CSGO')">CSGO</li>
                        <li onclick="redirectToHome('NARAKA')">NARAKA</li>
                        <li onclick="redirectToHome('PUBG')">PUBG</li>
                        <li onclick="redirectToHome('LQM')">LIÊN QUÂN MOBILE</li>
                    </ul>
                </div>
                <div class="nav-content">
                    <a href="/" class="home-main">Trang chủ</a>
                </div>
                <div class="star" id="star_list">
                    <div class="star-button">☆ Ngôi sao</div>
                </div>
                <!-- <div class="nav-content" id="chat-button">Liên hệ</div> -->
            </nav>
           
            <!-- thanh tìm kiếm -->
            <div>
                <div class="header-bottom">
                    <div class="recharge-button" id="recharge-button">
                        <button id="recharge_but" onclick="redirectToRecharge()"> + </button>
                        <a id="money"></a>
                        <a >💰</a>
                    </div>
                    <button class="chat-btn" id="chat" onclick="openChat()">Chat 💬</button>
                    <form class="search-container">
                        <input class="search-bar" type="text" placeholder="Search">
                        <button class="search-button">🔍</button>
                    </form>
                    <button class="cart-button" id="login-button" onclick="redirectToHome('login')">
                        Login 👌🏻
                    </button>

                    <!-- after signing in -->
                    <div class="header-tools" id="tools-button">
                        <div class="user-info" >
                                <img id="avatar1" src="https://i.postimg.cc/sfQbt6Jj/c6e56503cfdd87da299f72dc416023d4.jpg" alt="Avatar">
                                <div class="user-info-popup" >
                                    <!-- Thông tin số người theo dõi và số xu sẽ được hiển thị ở đây -->
                                    <img id="avatar2" src="https://i.postimg.cc/sfQbt6Jj/c6e56503cfdd87da299f72dc416023d4.jpg" alt="Avatar">
                                    <div>
                                        <h2 id="user-info-name"></h2>
                                        <p class="user-id" id="user-info-id"></p>
                                    </div>
                                    <div class="user-stats">
                                        <p id="joining-date"></p>
                                    </div>
                                    <div class="user-actions">
                                        <button onclick="adjustUserInfo()">🛠️ Điều Chỉnh Thông Tin</button>
                                        <button onclick="lognout()">🚪 Đăng Xuất</button>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main id="main" >
        <div class="main-container">
            <div class="personal-nav">
                <div class="personal-center">Trung tâm cá nhân</div>

                <div class="personal-list">
                    <ul class="list">
                        <li class="info selected-li">
                            <i class="ti-user"></i>
                            Thông tin cá nhân
                        </li>
                        <li class="service" id="service_id">
                            <i class="ti-check-box"></i>
                            Dịch vụ
                        </li>
                        <li class="change-pass">
                            <i class="ti-lock"></i>
                            Đổi mật khẩu
                        </li>
                        <li class="logout" onclick="lognout()">
                            <i class="ti-export"></i>
                            Đăng xuất
                        </li>
                    </ul>
                </div>
            </div>
            <div class="edit-profile section">
                <div class="edit-content section-content" >Sửa hồ sơ</div>
                <div class="edit">
                    <div class="avatar">
                        <p class="avatar-content">Ảnh</p>
                        <div class="avatar-images">
                            <i class="ti-plus icon"></i>
                            <input type="file" class="img">
                        </div>
                        <p class="input-link-img">Nhập link ảnh</p>
                        <input id="link_img" type="text">
                        
                    </div>
                    <div class="editor">
                        <div class="editor-content">Hồ sơ</div>
                        <div class="input-attribute">
                            <div class="input-content">Họ tên</div>
                            <input class="input-list" id="adjust_name" type="text">
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Giới tính</div>
                            <select class="input-list" id="adjust_gender">
                                <option value="Male">Nam</option>
                                <option value="Female">Nữ</option>
                                <option value="Other">Khác</option>
                            </select>
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Ngày sinh</div>
                            <input class="input-list" id="adjust_birthday" type="date">
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Số điện thoại</div>
                            <input class="input-list" id="adjust_phone" type="tel" pattern="[0-9]{10}" required>
                        </div>
                        <div class="input-attribute">
                            <div class="input-content">Địa chỉ</div>
                            <input class="input-list" id="adjust_address" type="text">
                        </div>
                        <button class="submit-change" onclick="change_infor()">Thay đổi</button>
                    </div>
                </div>
            </div>

            <!-- Dịch vụ -->

            <div class="service-info section">
                <!-- content -->
                <div class="section-content">Dịch vụ</div>

                <!-- hình ảnh tại đây -->
                <div class="service-selection">
                    <div class="game-imgs" id="img_LMHT">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiVGGGWtc0sD9hPRAHvMvz4xyyhYTngteZpIstjpgYuT-O4Invkqskbc4uP7En7hjgq78&usqp=CAU" alt="Image 1" onclick="confirmChange(1)">
                    </div>
                    <div class="game-imgs" id="img_PUBG">
                        <img src="https://data.lita.cool/mgr/skill/202310081617/vi_pubg-mobile_pc-image.jpeg?width=253&height=320" alt="Image 2" onclick="confirmChange(2)">
                    </div>
                    <div class="game-imgs" id="img_NARAKA">
                        <img src="https://scontent.fsgn5-15.fna.fbcdn.net/v/t39.30808-6/210056139_149291693980014_6757475175732955218_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_ohc=yujqmq6nBoQAX-jbzHp&_nc_ht=scontent.fsgn5-15.fna&oh=00_AfD-ZHvHprAnsmWgywWA76i51R8uPDcxw0OQHEdueGP_aA&oe=65665E38" alt="Image 3" onclick="confirmChange(3)">
                    </div>
                    <div class="game-imgs" id="img_LQM">
                        <img src="https://data.lita.cool/mgr/skill/202310081616/vi_garena-rov_pc-image.jpeg?width=253&height=320" alt="Image 4" onclick="confirmChange(4)">
                    </div>
                    <div class="game-imgs" id="img_CSGO">
                        <img src="https://files.cults3d.com/uploaders/17644157/illustration-file/8e7db1d9-81a0-4b8d-adbc-b907805fae3b/IMG_20210726_064959.jpg" alt="Image 5" onclick="confirmChange(5)">
                    </div>
                </div>

                <!-- box xác nhận  -->
                <div class="service-confirm">
                    <div class="service-confirm-header">Dịch vụ đã đăng ký</div>
                        <div class="service-confirm-input">
                            <div id="LMHT">
                                <p class="text">League of legends</p>
                                <button class="service-confirm-button" onclick="confirmDelete(1)">Xóa</button>
                            </div>
                            <div id="PUBG">
                                <p class="text">PUBG</p>
                                <button class="service-confirm-button" onclick="confirmDelete(2)">Xóa</button>
                            </div>
                            <div id="NARAKA">
                                <p class="text">NARAKA</p>
                                <button class="service-confirm-button" onclick="confirmDelete(3)">Xóa</button>
                            </div>
                            <div id="LQM">
                                <p class="text">Liên quân MOBILE</p>
                                <button class="service-confirm-button" onclick="confirmDelete(4)">Xóa</button>
                            </div>
                            <div id="CSGO">
                                <p class="text">CS:GO 2</p>
                                <button class="service-confirm-button" onclick="confirmDelete(5)">Xóa</button>
                            </div>
                        </div>
                </div>
                <!--thay đổi mật khẩu-->
            </div>  
            <div class="change-password section">
                <div class="section-content change-pass-content">Đổi mật khẩu</div>
                <div class="password_mk">
                    <label for="currentPassword">Mật khẩu hiện tại</label>
                    <input type="password" id="currentPassword" name="currentPassword" required>
                    <p id="Message_current" class="error-message"></p>
            
                    <label for="newPassword">Mật khẩu mới</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                    <p></p>
                    <label for="confirmNewPassword">Xác nhận mật khẩu mới</label>
                    <input type="password" id="confirmNewPassword" name="confirmNewPassword" required>
                    <p id="Message_confirm" class="error-message"></p>

                    <button class ="password_change" onclick="changePassword()">Đổi mật khẩu</button>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h2>Contact Us</h2>
                <p>Email: hoangphuc@gmail.com</p>
                <p>Phone: +84223453232</p>
            </div>
            <div class="footer-section">
                <h2>Follow Us</h2>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Facebook</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Twitter</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Instagram</a></p>
            </div>
            <div class="footer-section">
                <h2>Quick Links</h2>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Terms of Service</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 HILAY. All Rights Reserved.</p>
        </div>
    </footer>

  <script src="/Change_info/Infor.js"></script>
</body>
</html>