header {
    display: flex;
    flex-direction: column;
    background-color: #3F2305;
    width: 100%;
}

header .header-top {
  display: flex;
  justify-content: space-between;
}

header .header-top .service {
  font-weight: bold;
  color: white;
}

header .header-top .login {
  border: none;
  background-color: #3F2305;
  color: aliceblue;
  font-weight: 700;
  text-decoration: none;
}

header .header-top .login:hover {
  color: rgb(148, 201, 204);
  text-decoration: underline;
}

header .header-bottom {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
}

header .header-bottom .search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px 0;
}

header .header-bottom .search-container .search-bar {
  height: 100%;
  width: 20vw;
  border-radius: 30px 0 0 30px;
  padding: 0 20px;
  border: none;
  outline: none;
  background: #F8EDE3;
}

header .header-bottom .search-container .search-button {
  border: none;
  padding: 0;
  height: 100%;
  width: 2rem;
  background-color: #798777;
  border-radius: 0 30px 30px 0;
}

header .header-bottom .search-container .search-button:hover {
  background-color: #A2B29F;
}

header .header-bottom .cart-button {
  background-color: #798777;
  color: #F8EDE3;
  border: none;
  width: fit-content;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin:0 1rem;
  padding: 0.2rem 0.5rem 0.2rem 0.8rem;
}

header .header-bottom .recharge-button {
  display: none;
  background-color: #4fcafa;
  color: rgb(0, 0, 0);
  border: none;
  width: 140px;
  font-size: 1.2rem;
  border-radius: 9999px;
  margin-right: 10px;
}

header .header-bottom .recharge-button #recharge_but {
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.473);
  margin-left: 10px;
  position: absolute;
  font-size: 14px;
}

header .header-bottom .recharge-button #money {
  margin-left: 40px;
}

header .header-bottom .cart-button:hover {
  color: #3F2305;
  /* background-color: rgb(65, 65, 65); */
}

/* Navbar Styles */
#navbar {
  display: flex;
  justify-content: space-between;
  background-color: #B0A695;
  width: 100%;
  align-items: center;
  /* padding: 0px 100px; */
}

#navbar .nav {
  display: flex;
  gap: 2rem;
  /* margin-left: -2rem; */
  /* align-items: center; */
}

#navbar > .nav > .logo {
  font-family: lucy;
  font-size: 2rem;
  background: #798777;
  border-radius: 1rem;
  letter-spacing: 0.5rem;
  margin-left: 1rem;
  padding: 0rem 0.3rem 0rem 0.5rem;
  
}

#navbar .logo .home {
  text-decoration: none;
  color: #F8EDE3;
  font-family: 'lucy';
}

#navbar > .nav > .menu {
  display: flex;
  position: relative;
  justify-items: center;
  align-items: center;
}

#navbar > .nav > .menu .menu-button {
  width: fit-content;
  font-size: 1.5rem;
  color: #3F2305;
}
#navbar > .nav > .menu .menu-button:hover{
  color: #F8EDE3;
}

#navbar > .nav > .menu .menu-list {
  display: none;
  position: absolute;
  /* margin-top: 8px; */
  top: 100%;
  left: 0;
  list-style: none;
  flex-direction: column;
  color: #3F2305;
  padding: 0;
  background-color: #B0A695;
  width: 15rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;  
  /* border: 1px solid #3F2305; */
}

#navbar > .nav > .menu .menu-list li {
  width: 100%;
  border: 0.25rem solid transparent;
  padding:  0.75rem 1rem;
  border-radius: 0.5rem;
}

#navbar > .nav > .menu .menu-list li:hover {
  border-color: #776B5D;
}

#navbar .nav .nav-content{
  display: flex;
  justify-content: left;
  align-items: center;
  /* padding: 0.75rem 18px 0 18px; */
  width: fit-content;
  font-size: 1.5rem;
}

#navbar .nav .nav-content .home-main {
  text-decoration: none;
  color: #3F2305;
}
#navbar .nav .nav-content .home-main:hover{
  color: #F8EDE3;
  cursor: pointer;
}

#navbar > .nav > .menu:hover .menu-list {
  display: flex;
  z-index: 10;
  cursor: pointer;
}

#navbar > .nav > .star {
  /*background-color: #2fc8c4;*/
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: auto;
}

#navbar > .nav > .nav-content {
  /*background-color: #2fc8c4;*/
  position: relative;
  height: auto;
  /* margin-left: -40px; */
}

#navbar > .nav > .star .star-button {
  width: fit-content;
  font-size: 1.5rem;
  color: #3F2305;
}

#navbar > .nav > .star .star-button:hover{
  color: #F8EDE3;
}

#navbar > .nav > .star .star-list {
  display: none;
  position: absolute;
  /* margin-top: 8px; */
  top: 100%;
  left: 0;
  list-style: none;
  flex-direction: column;
  padding: 0;
  background-color: #B0A695;
  width: 15rem;
  /* border: 1px solid #3F2305; */
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

#navbar > .nav > .star .star-list li {
  color: #3F2305;
  border: 0.25rem solid transparent;
  padding: 20px;
  width: 100%;
  border-radius: 0.5rem;
}

#navbar > .nav > .star .star-list li:hover {
  border-color:#776B5D;
}

#navbar > .nav > .star:hover .star-list {
  display: flex;
  z-index: 10;
  cursor: pointer;
}


/* Phần header sau khi đăng nhập */

.header-tools {
  display: none;
  align-items: center;
  margin-left: auto; /* Dịch phần header-tools về phải */
}

.chat-btn {
  display: none;
  background-color: #798777;
  color: #F8EDE3;
  margin-right: 10px;
  border-radius: 9999px;
}

.user-info {
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info p {
  margin: 0;
  font-size: 1em;
  color: #3F2305;
}

/* Thêm hiệu ứng khi hover vào avatar */
.user-info-popup {
display: flex;
align-items: center; /* Căn giữa theo chiều dọc */
position: absolute;
background-color: #EBE3D5;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
padding: 15px;
border-radius: 8px;
top: 40pt;
right: 30pt;
z-index: 50;
display: none;
width: 20rem;
height: auto;
text-align: left;
margin-top: -3px;
}

.user-info-popup button {
  padding: 10px 15px;
  cursor: pointer;
  background-color: #A2B29F;
  color: #F3EEEA;
  border: none;
  border-radius: 3px;
  margin: 5px 0;
  width: 100%;
}

.user-info:hover .user-info-popup {
display: block;
}

.user-info-popup img {
width: 80px;
height: 80px;
border-radius: 50%;
margin-right: 20px;
}

