<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="/Home/main.css">
    <link rel="stylesheet" href="/Home/base.css">
    <link rel="stylesheet" href="/Home/header.css">
    <link rel="stylesheet" href="/Home/assets/font-icon/themify-icons/themify-icons.css">
    <script src="/Home/home.js"></script>
    <title>Trang chủ</title>
</head>
<body class="body">
    <header>
        <!-- navbar -->
        <div id="navbar">
            <nav class="nav">
                <div class="logo">
                    <a href="/" class="home">Hiney</a>
                </div>
                <div class="menu">
                    <div class="menu-button">☰ Menu </div>
                    <ul class="menu-list">
                        <li onclick="scrollToDiv('LMHT')">LIÊN MINH HUYỀN THOẠI</li>
                        <li onclick="scrollToDiv('CSGO')">CSGO</li>
                        <li onclick="scrollToDiv('NARAKA')">NARAKA</li>
                        <li onclick="scrollToDiv('PUBG')">PUBG</li>
                        <li onclick="scrollToDiv('LQM')">LIÊN QUÂN MOBILE</li>
                    </ul>
                </div>
                <!-- <div class="nav-content">
                    <a href="/" class="home">Trang chủ</a>
                </div> -->
                <div class="star">
                    <div class="star-button"> ☰ Ngôi sao ⭐ </div>
                    <ul class="star-list">
                        <li>Tiến Trung</li>
                        <li>Thanh Tùng(BTQ)</li>
                        <li>Nhật Lâm</li>
                        <li>Khả Trình (Bé mèo)</li>
                        <li>Hoàng Phúc</li>
                        <li>Hoàng Văn</li>
                    </ul>
                </div>
                <!-- <div class="nav-content" id="chat-button">Liên hệ</div> -->
            </nav>
           

            <!-- thanh tìm kiếm -->
            <div>
                <div class="header-bottom">
                    <div class="recharge-button" id="recharge-button">
                        <button id="recharge_but" onclick="recharge()"> + </button>
                        <a id="money"></a>
                        <a > 🪙  </a>
                      </div>
                    <form class="search-container">
                        <input class="search-bar" type="text" placeholder="Search" />
                        <button class="search-button">🔍</button>
                    </form>
                    <button class="cart-button" id="login-button" onclick="redirectToLogin()">
                        Login 👌🏻
                    </button>
                    
                </div>
            </div>
        </div>
    </header>
    <main id="main" >
        <div class="img">
            <h1 class="img-content">Đừng chơi game một mình - 
                                    Hãy chơi cùng với nhau</h1>
            <img src="https://www.lita.gg/assets/bg-banner.672cdc94.png" alt="Picture">
        </div>
        <div class="game-title" >
            <div class="">
                Tìm đồng hành chơi game 
            </div>
            <div class="space"></div>
            <div>
                 Toàn bộ kĩ năng 
            </div>
        </div>

        <!--introduce game-->
        <div class="game-container" id="game-intro"></div>

        <!--rented persons-->
        <div id="rented-persons"></div>
        <div class="player-title"></div>
        <div class="player-container"></div>
    </main>

    <!-- Nút scroll -->
    <button onclick="scrollToTop()" class="scroll-to-top-btn"><i class="ti-arrow-circle-up"></i></button>
    
     <!-- chat button ở đây -->
     <div id="chatbot-container">
        <div id="chat-header">
          <div id="chat-button">Chat 💬</div>
          <div id="close-button" class="hidden"></div>
        </div>
        <div id="chat-container">
          
          <div id="chat-messages"></div>
          <div id="user-input">
            <input type="text" id="user-message" placeholder="Type your message..." />
            <button id="send-button">⇨</button>
          </div>
        </div>
      </div>

    <!--Đăng nhập-->
    <div class="modal_log">
        <div class="modal_overlay_log"></div>

        <div class="modal_body_log">
            <div class="auth-form">
                <div class="auth-form_container">
                    <div class="auth-form_header">
                        <h3 class="auth-form_heading">Đăng nhập</h3>
                        <span  onclick="redirectToReg()" class="auth-form_switch-btn" >Đăng ký</span>
                    </div>

                    <div class="auth-form_form">
                        <div class="auth-form_group">
                            <input type="text" class="auth-form_input" id="email" placeholder="Nhập email hoặc số điện thoại">
                            <p id="Message_email" class="error-message"></p>
                        </div>
                        <div class="auth-form_group">
                            <input type="password" class="auth-form_input" id="password" laceholder="Mật khẩu">
                            <p id="Message_password" class="error-message"></p>
                        </div>
                    </div>
                    
                    <div class="auth-form_aside">
                        <div class="auth-form_help">
                            <select id="role">
                                <option value="none">-- Chọn loại tài khoản --</option>
                                <option value="renter">Người thuê</option>
                                <option value="rented">Người được thuê</option> 
                            </select>
                            <a href="" class="auth-form_help-link auth-form_help-forgot">Quên mật khẩu</a>
                            <span class="auth-form_help-separate"></span>
                            <a href="" class="auth-form_help-link">Cần trợ giúp ?</a>
                        </div>
                        <p id="Message_role" class="error-message"></p>
                    </div>
                    <div class="auth-form_controls">
                        <button class="btn auth-form_controls-back btn--normal " onclick="redirectToHome()">TRỞ LẠI</button>
                        <button class="btn btn--primary" onclick="signUp()">ĐĂNG NHẬP</button>
                    </div>
                </div>
                <div class="auth-form_socials">
                    <div class="auth-length ">

                        <a href="" class="auth-form_socials--facebook btn btn--size-s btn--with-icon">
                            <i class="auth-form_socials-icon ti-facebook"></i>
                            <span class="auth-form_socials-title">
                                 Facebook
                            </span>
                        </a>
                    </div>
                    <div class="auth-length ">

                        <a href="" class="auth-form_socials--google btn btn--size-s btn--with-icon">
                            <i class="auth-form_socials-icon ti-google"></i>
                            <span class="auth-form_socials-title">
                                 Google
                            </span> 
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Đăng ký-->
    <div class="modal_reg">
        <div class="modal_overlay_reg"></div>

        <div class="modal_body_reg">
            <div class="auth-form">
                <div class="auth-form_container">
                    <div class="auth-form_header">
                        <h3 class="auth-form_heading">Đăng ký</h3>
                        <span  onclick="redirectToLogin()" class="auth-form_switch-btn" >Đăng nhập</span>
                    </div>

                    <div class="auth-form_form">
                        <div class="auth-form_group">
                            <input type="text" class="auth-form_input" placeholder="Nhập tên">
                        </div>
                        <div class="auth-form_group">
                            <input type="date" class="auth-form_input" placeholder="Nhập ngày sinh">
                        </div>
                        <div class="auth-form_group">
                            <input type="text" class="auth-form_input" placeholder="Nam / Nữ / Khác">
                        </div>
                        <!-- <div class="auth-form_group">
                            <input type="text" class="auth-form_input" placeholder="Số điện thoại">
                        </div> -->
                        <div class="auth-form_group">
                            <input type="text" class="auth-form_input" placeholder="Địa chỉ">
                        </div>
                        <div class="auth-form_group">
                            <input type="email" class="auth-form_input" placeholder="Nhập email">
                        </div>
                    </div>

                    <div class="auth-form_aside">
                        <p class="auth-form_policy">Bằng việc đăng kí, bạn đã đồng ý với Hiney về 
                            <a href="" class="auth-form_text-link">Điều khoản dịch vụ</a> &
                            <a href="" class="auth-form_text-link">Chính sách bảo mật</a>
                        </p>
                    </div>
                    <div class="auth-form_controls">
                        <button class="btn auth-form_controls-back btn--normal " onclick="redirectToHome()">TRỞ LẠI</button>
                        <button class="btn btn--primary">ĐĂNG KÝ</button>
                    </div>
                </div>
                <div class="auth-form_socials">
                    <a href="" class="auth-form_socials--facebook btn btn--size-s btn--with-icon">
                        <i class="auth-form_socials-icon ti-facebook"></i>
                        <span class="auth-form_socials-title">
                            Kết nối qua Facebook
                        </span>
                    </a>
                    <a href="" class="auth-form_socials--google btn btn--size-s btn--with-icon">
                        <i class="auth-form_socials-icon ti-google"></i>
                        <span class="auth-form_socials-title">
                            Kết nối qua Google
                        </span> 
                    </a>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-section">
                <h2>Contact Us</h2>
                <p>Email: hoangphuc@gmail.com</p>
                <p>Phone: +84223453232</p>
            </div>
            <div class="footer-section">
                <h2>Follow Us</h2>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Facebook</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Twitter</a></p>
                <p><a href="https://www.facebook.com/hoangphuc261103" class="social-link">Instagram</a></p>
            </div>
            <div class="footer-section">
                <h2>Quick Links</h2>
                <p><a href="#">Privacy Policy</a></p>
                <p><a href="#">Terms of Service</a></p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 HINEY. All Rights Reserved.</p>
        </div>
    </footer>

</body>
</html>