body {
  background-color: #f7e9f3;
}
@font-face {
  font-family: lucy;
  src: url(../assets/fonts/LucySaidOkPersonalUseItalic-OV9ee.ttf);
}
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
* {
  font-family: "Inclusive Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Nunito", sans-serif;
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fadeIn linear 0.5s;
}

.modal_overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body{
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.5s;
}
p{
    font: 1rem;
}

/*button*/

.btn{
    min-width: 142px;
    min-height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    font-size: 1.1rem;
    padding: 0 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}
.btn.btn--normal{
    background-color: #fff;
}
.btn.btn--normal:hover{
    background-color: rgba(0, 0, 0, 0.15);
}

.btn.btn--size-s{
    height: 32x;
    font-size: 16px;
    padding: 0 8px;
}
.btn.btn--primary{
    color: var(--text-color);
    background-color: aqua;
}

.btn.btn--disable{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
    filter: brightness(80%);
}